<footer>
  <div class="container">
    <div class="d-flex justify-content-center align-items-center g-2">
      <div class="d-flex col-12  justify-content-center align-items-center g-2">
        
        <p class="me-1"><span>Project 9</span> By
          <a
            class="text-decoration-none"
            href="https://www.linkedin.com/in/adrian-finochio/"
          >Finochio Adrian</a></p>
      </div>
    </div>

  </div>

</footer>