<div class="container-fluid">
  <div class="row justify-content-center align-items-center g-2">
    <h1>Restaurar password</h1>

    <form method="POST" action="/api/sessions/password-reset">
      <input type="text" name="email" placeholder="email" />
      <input type="password" name="password" placeholder="new password" />
      <input type="submit" value="Reset passsword" />
    </form>

    <p><a href="/login">Iniciar sesión</a></p>
    <p><a href="/register">Registrarse</a></p>
    
    {{#if dangerMsg}}
      <div class="alert alert-danger" role="alert">
        {{dangerMsg}}
      </div>
    {{/if}}

    {{#if warningMSG}}
      <div class="alert alert-warning" role="alert">
        {{warningMSG}}
      </div>
    {{/if}}
    {{#if infoMSG}}
      <div class="alert alert-info" role="alert">
        {{infoMSG}}
      </div>
    {{/if}}

  </div>

</div>